<nav class="bg-[#1c2431] flex items-center justify-between py-6 px-5 sm:p-10">
    <a href="#" class="logo"><img src="https://raw.githubusercontent.com/Deepali25-K/fylo-dark-theme-landing-page/main/images/logo.svg" alt="logo" class="w-20"></a>
    <ul class="links flex gap-5 text-[#ffffff] text-[0.8rem]">
        <li class="hover:text-[#65e2d9] transition duration-300 ease-in-out"><a href="#" class="nav-link">Home</a></li>
        <li class="hover:text-[#65e2d9] transition duration-300 ease-in-out"><a href="#" class="nav-link">About</a></li>
        <li class="hover:text-[#65e2d9] transition duration-300 ease-in-out"><a href="#" class="nav-link">Gallery</a></li>
    </ul>
</nav>